/.idea
/.vscode
/Backend/.idea
/Backend/vcpkg
/Backend/cmake-build-debug
/UI-Login/node_modules
/UI-Login/.idea
/Frontend/.idea
/Backend/cmake-build-release
/Backend/.cursor
/Backend/%SystemDrive%
/SeverCall/node_modules
/SeverCall/.idea
/Backend/DatabaseAPI/__pycache__
/Backend/SeverCall/.idea
/Backend/SeverCall/node_modules
/Frontend/SeverCall/node_modules
/Frontend/SeverCall/.idea
/Backend/ServerManager/node_modules
/Backend/ServerManager/.idea
/Backend/Admin Panel Back/Admin Panel Back/bin
/Backend/Admin Panel Back/packages
